{{> header}}

    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Criss Mocha</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate molestias totam dolores. Corrupti officiis provident exercitationem doloribus atque, autem vero omnis corporis, id, laborum modi! Officia magni labore fuga.</p>
        </div>
        <div class="col-4">
            <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/298093184_4972315482872640_9154444672997351731_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=KB_KURZTbpIAX88qJA7&_nc_ht=scontent.fcue6-1.fna&oh=00_AT-inZiQkZeIfre_pTt9cjnFdiBPXwXSn47Vua2ZP8JmwQ&oe=63490586" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer}}
